@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/*KHÚC NÀY AI LÀM HẾT ĐÓ*/

body {
  margin: 0; overflow: hidden;
  font-family: 'Press Start 2P', cursive;
  user-select: none; background-color: #000;
}


img, .pixel-panel, .btn-mc, .stat-box {
  image-rendering: pixelated; image-rendering: -moz-crisp-edges; image-rendering: crisp-edges;
}

.game-container {
  width: 100vw; height: 100vh;
  background-image: url('assets/wallpaperflare.com_wallpaper.jpg');
  background-size: cover; background-position: center;
  position: relative;
}

/* --- TOP BAR (THANH TRÊN CÙNG) --- */
.top-bar {
  position: absolute; top: 0; left: 0; width: 100%; padding: 20px;
  display: flex; justify-content: space-between; z-index: 100;
  box-sizing: border-box; /* Để padding không làm lố màn hình */
}

.group-btn { display: flex; gap: 15px; align-items: center; }

/* Nút Menu (Shop, Minigame) - Màu Tím */
.btn-menu {
  font-family: 'Press Start 2P'; 

  background: #130c72; /* Tím đậm */

  background: #6a1b9a; /* Tím đậm */

  color: #fff;
  border: 3px solid #fff;
  box-shadow: 4px 4px 0 #000;
  padding: 15px 20px; /* To hơn */
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  min-width: 120px;
  text-align: center;
  transition: transform 0.1s;
}
.btn-menu:hover { background: #3c1e44; transform: scale(1.05); }
.btn-menu:active { transform: translate(3px, 3px); box-shadow: 1px 1px 0 #000; }

/* Ô hiển thị chỉ số (Cá) - Màu Xanh */
.stat-box {
  font-family: 'Press Start 2P';
  background: #d49d05; 
  color: #fff;
  border: 3px solid #fff;
  box-shadow: 4px 4px 0 #000;
  padding: 15px 20px;
  font-size: 12px;
  display: flex; align-items: center; gap: 10px;
  min-width: 100px;
  justify-content: center;
  text-shadow: 2px 1px 12px black;
}

/* Nút Connect Wallet (Để mặc định của thư viện nhưng chỉnh lại chút) */
/* Thư viện dApp Kit tự style, mình chỉ chỉnh margin */

/* --- POPUP UI --- */

.cat-think-panel{
  background: url('/assets/cat_think.png') no-repeat center;
width: 180px; height: 235px;
  background-position-y:-30px; background-size:100% 130%; 
}
.pixel-panel {
  background: url('/assets/ui_panel.png') no-repeat center; 
  background-size: 110% 100%;
  width:250px; height: 400px; 
 text-align: center; margin-top: 0px;
 background-position-x: -43px;
}
.center-popup {
  position: absolute; top: 50%; left: 50%;
  transform: translate(-50%, -50%); z-index: 300; width: 650px;
  text-align: center;
}

/* Shop Grid */
.btn-shop{
  background: #1565c0;
}
.btn-game{
  background: #c2450b;
}
.btn-game-fish{
  font-family: 'Press Start 2P'; 

  background: #130c72 center; 
  background-position-x: -10px;
  color: #fff;
  border: 3px solid #fff;
  box-shadow: 4px 4px 0 #000;
  width: 300px; height: 45px;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  transition: transform 0.1s;
  margin-bottom: 3px;
}
.btn-game-fish:hover { background: #4e0a0a; transform: scale(1.05); }
.btn-game-fish:active { transform: translate(3px, 3px); box-shadow: 1px 1px 0 #000; }
.gamebutton{
  display: flex; justify-content: center; align-items: center; gap: 10px; flex-direction: column;
}
/* Shop Grid */
.shop-grid {display: flex;  gap:30px; justify-content: center; align-items: center;  text-align: center;}

.shop-item {
  border: 2px solid transparent; border-radius: 6px; 
  width: 80px; cursor: pointer; transition: transform 0.1s;
   margin-top: 50px; left: 10px;
  flex-direction: column;
  text-align: center;
}

.shop-item:hover { background: rgba(8, 51, 194, 0.4); border-color: #fff; transform: scale(1.1); }
.price-tag { background: #142091; font-size: 9px; padding: 4px; margin-top: 5px; border-radius: 4px;  }
.description-box {
  background: #060852;
  color: #fff; border: 3px solid #fff;width: 350px; margin-top: 20px;
  background-position-x: -10px;
  height: 40px; display: flex; align-items: center; justify-content: center; 
  font-size: 12px; background-size: 110% 100%;
  text-align: center;
  margin: auto;
  margin-bottom: 17px;

}
/* Minigame popup*/
.minigame-panel{
  background: url('/assets/ui_panel.png') no-repeat center;
background-size: 120% 100%;
height: 330px;width: 600px;
margin-top: 0px; background-position-y: -15px; background-position-x: -45px;
text-align: center;
}




/* Nút nhỏ trong popup */
.btn-action {

  font-family: 'Press Start 2P'; background: #991616; color: white; border: 2px solid white;

  font-family: 'Press Start 2P'; background: #d32f2f; color: white; border: 2px solid white;

  padding: 8px 12px; cursor: pointer; margin-top: 10px; box-shadow: 2px 2px 0 #000;
}
.btn-action:active { transform: translate(2px, 2px); box-shadow: none; }


/* --- ANIMATION MÈO (Giữ nguyên) --- */
@keyframes walk-anim {
  0% { left: 5%; transform: scaleX(1); }    
  45% { left: 85%; transform: scaleX(1); }
  50% { left: 85%; transform: scaleX(1); } 
  95% { left: 5%; transform: scaleX(1); }
  100% { left: 5%; transform: scaleX(1); }
}
.cat-wrapper { position: absolute; bottom: 15%; width: 120px; z-index: 50; animation: walk-anim 20s linear infinite;animation-play-state: paused; }
@keyframes float-up {
  0% { transform: translateY(0) scale(0.5); opacity: 1; }
  100% { transform: translateY(-80px) scale(1.5); opacity: 0; }
}

.cat-moving{
 
  animation-play-state: running;
}
.heart-effect { position: absolute; top: -50px; left: 30%; font-size: 40px; animation: float-up 1s ease-out forwards; pointer-events: none; }
.cat-sad { filter: grayscale(100%) hue-rotate(240deg) brightness(80%) !important; transition: filter 0.5s; }
.cat-sprite { width: 100%; cursor: pointer; transition: filter 0.2s; }
.cat-fix { transform: scaleX(-1);}
.cat-sprite:hover { filter: drop-shadow(0 0 5px white); }

/* Menu Bong Bóng */
.cat-bubble {
  position: absolute; bottom: 130px; left: 0px;
  width: 160px; z-index: 200; display: inline-flex; flex-direction: column; gap: 5px;
  padding: 10px !important;
}

/* Nút trong bong bóng */
.btn-bubble {
  font-family: 'Press Start 2P'; background: #1565c0; color: white; border: 2px solid white;
  padding: 8px; cursor: pointer; font-size: 10px; text-align: left;
}
.btn-bubble:hover { background: #1e88e5; }

.btn-close-bubble { background: #b71c1c; text-align: center; }
.shop-grid { height: auto !important; margin: 20px 0 !important; }

.pixel-panel .shop-item { 
  border-color: #46266b !important; 
  background: rgba(0,0,0,0.3) !important; 
  text-align: center !important;
}

.pixel-panel .shop-item:hover { 
  background: rgba(158, 21, 21, 0.6) !important; 
  border-color: yellow !important; 
}

.pixel-panel .price-tag { 
  background: rgb(49, 28, 40) !important; 
  color: white !important; 
  border: 2px solid white !important; 
  text-align: center !important; 
}

.center-popup { max-width: 90vw; }

.btn-close-bubble { background: #b71c1c; text-align: center; }

/*câu cá*/
body {
  height: 100vh;
}
.fishing {
  position: relative;
  width: 121px;
  height: 500px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -60px;
}
.fishing .rod {
  width: 20px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.fishing .rod:before {
  content: "";
  width: 3px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: rgb(173, 181, 189);
  background: repeating-linear-gradient(
    0deg,
    rgba(173, 181, 189, 1) 25px,
    rgba(108, 117, 125, 1) 50px,
    rgba(173, 181, 189, 1) 75px
  );
  border: 1px solid #212529;
  border-radius: 5px;
}
.fishing .rod:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 8px;
  height: 50px;
  background: rgb(205, 152, 121);
  background: repeating-linear-gradient(
    0deg,
    rgba(247, 127, 0, 1) 0px,
    rgba(247, 127, 0, 1) 2px,
    rgba(158, 92, 66, 1) 4px,
    rgba(247, 127, 0, 1) 6px,
    rgba(247, 127, 0, 1) 9px
  );
  border: 2px solid #9e5c42;
  bottom: -3px;
  right: -3px;
  border-radius: 5px;
  box-shadow: -3px 4px 14px -4px, inset 2px -2px rgba(0, 0, 0, 0.2);
}
.fishing .rod .reel {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: rgb(171, 77, 11);
  background: linear-gradient(
    28deg,
    rgba(171, 77, 11, 1) 0%,
    rgba(255, 157, 88, 1) 100%
  );
  bottom: 30px;
  z-index: 2;
  box-shadow: -3px 4px 14px -4px, inset 2px -2px rgba(0, 0, 0, 0.2);
  border: 1px solid #67300a;
}
.fishing .rod .reel .handle {
  content: "";
  position: absolute;
  width: 3px;
  height: 20px;
  border: 1px solid black;
  top: -9px;
  right: 9px;
  background: rgb(173, 181, 189);
  background: linear-gradient(
    0deg,
    rgba(173, 181, 189, 1) 0%,
    rgba(108, 117, 125, 1) 81%,
    rgba(164, 22, 26, 1) 86%,
    rgba(164, 22, 26, 1) 100%
  );
  border-radius: 3px;
  transform-origin: bottom;
  animation-name: reelin;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
}
@keyframes reelin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.fishing .rod .reel .handle.reelin {
  animation-play-state: running;
}
.fishing .rod .reel .handle.reelout {
  animation-duration: 0.5s;
  animation-direction: reverse;
  animation-play-state: running;
}
.fishing .sea {
  position: absolute;
  width: 60px;
  height: 100%;
  background: rgb(247, 127, 0);
  background: repeating-linear-gradient(
    0deg,
    rgba(247, 127, 0, 1) 0px,
    rgba(247, 127, 0, 1) 50px,
    rgba(255, 166, 73, 1) 52px,
    rgba(119, 73, 54, 1) 56px,
    rgba(119, 73, 54, 1) 57px,
    rgba(247, 127, 0, 1) 61px,
    rgba(247, 127, 0, 1) 100px
  );
  left: 30px;
  border-radius: 10px;
  border: 2px solid #774936;
  box-shadow: inset -2px -2px rgba(0, 0, 0, 0.3);
  padding: 10px;
  box-sizing: border-box;
}
.fishing .sea:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 100%;
  background: repeating-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0px,
    rgba(255, 255, 255, 0) 5px,
    rgba(86, 85, 84, 1) 6px,
    rgba(19, 21, 21, 1) 9px,
    rgba(86, 85, 84, 1) 9px,
    rgba(255, 255, 255, 0) 11px,
    rgba(255, 255, 255, 0) 34px
  );
  top: 0;
  left: -12px;
  z-index: -1;
}
.fishing .sea .area {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgb(142, 202, 230);
  background: linear-gradient(
    180deg,
    rgba(142, 202, 230, 1) 0%,
    rgba(33, 158, 188, 1) 100%
  );
  box-shadow: inset -3px 3px rgba(0, 0, 0, 0.3);
  border: 2px solid #774936;
  box-sizing: border-box;
}
.fishing .sea .fish {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  font-size: 25px;
  line-height: 50px;
  text-align: center;
  color: #264653;
  text-shadow: 1px 1px #2a9d8f;
}
.fishing .sea .bait {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0%;
  left: 0;
  background: #beee62;
  border-radius: 10px;
  box-shadow: inset 0 0 1px 3px #70ae6e;
}
.fishing .progress {
  position: absolute;
  width: 30px;
  height: 100%;
  border: 2px solid #9e5c42;
  background: #e36414;
  right: 0;
  top: 0;
  border-radius: 10px;
  padding: 3px;
  box-sizing: border-box;
}
.fishing .progress .area {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgb(115, 57, 56);
  background: linear-gradient(
    90deg,
    rgba(115, 57, 56, 1) 0%,
    rgba(158, 92, 66, 1) 2%,
    rgba(111, 59, 46, 1) 36%,
    rgba(115, 57, 56, 1) 96%,
    rgba(74, 34, 33, 1) 100%
  );
  border-radius: 10px;
  box-shadow: inset 3px 3px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.fishing .progress .bar {
  position: absolute;
  width: 100%;
  height: 2%;
  background: #beee62;
  bottom: 0;
  box-shadow: inset 2px -2px rgba(0, 0, 0, 0.4);
  border-radius: 0 0 10px 10px;
}
.holdButtonProgress {
  display: none;
}
